@keyframes left {

  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes right {

  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes bottom {

  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes selected {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.search label {
  cursor: pointer;
  padding: 5px;
}

.category {
  all: inherit;
}

.category + span {
  color: rgb(68, 68, 68);
  font-size: 0.8em;
  font-weight: 100;
  padding: 5px 10px;
}

.category:checked + span {
  animation: selected 0.5s;
  border-radius: 25px;
  color: black;
  font-weight: 500;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.card-container {
  align-items: center;
  animation: bottom 1s;
  background-color: rgb(253, 253, 253);
  border-top: 1px solid silver;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  width: 85%;
}

.card {
  display: flex;
  width: 100%;
}

.bottom-header {
  align-items: center;
  background-color: rgb(255, 241, 89);
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
  padding: 10px;
}

.search {
  animation: left 1s;
  background-color: rgb(255, 255, 217);
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  width: 30%;
}

.initial-message {
  animation: bottom 1s;
  font-size: 1em;
  font-weight: 100;
}

.search-input {
  align-items: center;
  animation: right 1s;
  background-color: white;
  border-radius: 25px;
  display: flex;
}

.query-input {
  background-color: transparent;
  border: 0;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  box-shadow: none;
  height: 25px;
  outline: none;
  padding: 5px;
  width: 250px;
}

.query-button {
  background-color: transparent;
  border: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: silver;
  cursor: pointer;
  padding: 5px 10px;
  transition: 2s;
}

.query-button:hover {
  opacity: 50%;
}

.search-input hr {
  border: 0;
  border-left: 1px solid silver;
  height: 70%;
  width: 0;
}

.img-card {
  height: 130px;
  object-fit: cover;
  padding: 10px;
  width: 130px;
}

.product-info {
  height: 100%;
  padding: 0 10px;
  width: 100%;
}

.add-to-cart {
  background-color: transparent;
  border: 0;
  color: rgb(52, 131, 250);
  cursor: pointer;
  font-size: 1.5em;
  padding: 5px;
  transform: translateY(70px);
}

.add-to-cart:hover {
  opacity: 80%;
}

.add-to-cart:disabled {
  color: rgb(219, 219, 219);
  cursor: not-allowed;
}

.free {
  color: rgb(0, 166, 80);
  font-size: 0.8em;
  padding: 10px 0;
}

.name-card {
  color: black;
  font-size: 1em;
  font-weight: 100;
  height: 48px;
  overflow: hidden;
  padding: 10px 0;
  text-overflow: ellipsis;
}

.stock-card {
  color: black;
  font-size: 0.8em;
  font-weight: 100;
}

.price-card {
  color: black;
  font-size: 1em;
  padding: 5px 0;
}
